<% if user_signed_in? %>
	<div class="hero-unit">
	<h2>Welcome to Food Treasure!</h2>
	</div>
<% else %>
	<div class="hero-unit">
		<h1>Food Treasure</h1>
		<p>
		<h3>
			A dish so delicious, yummy, om nom nom you’d love to
			- dive into it and whoop of joy?
			Treasure and recommend the food you love!
		</h3>
		</p>
		<p>
			<%= link_to "Sign up to treasure!", new_user_registration_path, class: "btn btn-primary btn-large"  %>
		</p>
	</div>
<% end %>

