$baseFontFamily: Lato;
@import url(http://fonts.googleapis.com/css?family=Lato);

$btnPrimaryBackground: purple;
$navbarHeight: 45px;
$bodyBackground: #282424;
/*1e1a1a 282424 302b2b*/
$heroUnitBackground: #ddd4dd;
$textColor: #d6bee0;
$navbarLinkColor: #aaa2aa;
$navbarBackground: #110f0f;
$navbarBackgroundHighlight: #110f0f;
$navbarLinkColorHover: #c9c5c5;
/*bcb1bc oder e0cee0 herounit
/*$navbarBackgroundHighligh: white;
$navbarBackground: gray;*/

.well { color: #333333;}

@import 'bootstrap';

body{
	padding-top: 60px;
}

.home { color: #333333;}
/* Oder cec6c6 8e8d8d bfbfbf e0c0e0*/

@import 'bootstrap-responsive';

.navbar-inner{
	@include box-shadow(none !important);
	border: 0;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: #666666;
    }
}

/*Home page > Index page*/

h1.textinbox {
	color: #333333;
}

h2.textinbox {
	color: #333333;
}

h3.textinbox {
	color: #333333;
}


/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}